{% extends "modelo.html" %}
{% block conteudo %}

<div class="container-lg mt-4">

    <h1 class="mb-4">Adicionar Termo</h1>

    <form action="{{ url_for('criar_termo')}}" method="post">
        <div class="mb-3">
            <label for="termo" class="form-label">Termo</label>
            <input class="form-control" id="termo" name="termo" aria-describedby="emailHelp"
                   placeholder="Digite o termo a ser adicionado">
        </div>
        <div class="mb-3">
            <label for="definicao" class="form-label">Definição</label>
            <textarea class="form-control" id="definicao" name="definicao" rows="3"
                      placeholder="Digite a definição do termo"></textarea>
        </div>
        <div class="d-flex flex-column align-items-center mb-3">
            <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
    </form>
</div>
{% endblock %}