{% extends "modelo.html" %}
{% block conteudo %}

<div class="container-lg mt-4">

    <h1 class="mb-4">Adicionar Tarefa</h1>

    <form action="{{ url_for('criar_tarefa')}}" method="post">
        <div class="mb-3">
            <label for="lista" class="form-label">Tarefa</label>
            <input class="form-control" id="lista" name="lista" aria-describedby="emailHelp"
                   placeholder="Digite a Tarefa a ser Adicionada">

        </div>
        <div class="mb-3">
            <label for="descricao" class="form-label">Responsável</label>
            <input class="form-control" id="descricao" name="descricao"
                      placeholder="Digite o responsável da tarefa">
        </div>
        <div class="d-flex flex-column align-items-center mb-3">
            <button type="submit" class="btn btn-primary ">Enviar</button>
        </div>
    </form>

</div>
{% endblock %}