{% extends "modelo.html" %}
{% block conteudo %}


    <h1>Glossário</h1>

<table class="table table-striped table-responsive table-bordered">
  <thead class="thead-default">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Termo</th>
      <th scope="col">Definição</th>
    </tr>
  </thead>
  <tbody>
  {% for termo in glossario %}
    <tr>
      <th scope="row">{{ loop.index }}</th>
      <td>{{ termo[0] }}</td>
      <td>{{ termo[1] }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

    <h1>Tarefas</h1>

<table class="table table-striped table-responsive table-bordered">
  <thead class="thead-default">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Tarefa</th>
      <th scope="col">Descrição</th>
    </tr>
  </thead>
  <tbody>
  {% for lista in tarefas %}
    <tr>
      <th scope="row">{{ loop.index }}</th>
      <td>{{ lista[0] }}</td>
      <td>{{ lista[1] }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>


{% endblock %}
