{% extends "modelo.html" %}
{% block conteudo %}

<h1>Sobre a Equipe</h1>

<table class="table table-striped table-responsive table-bordered">
    <thead class="thead-default">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Função</th>
        <th scope="col">Atividades realizadas</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td>Raissa Barreto Melo</td>
        <td>Dev Scrum</td>
        <td>Responsável pela gestão do projeto, ajudou a equipe a otimizar e melhorar o progresso das metas,
            estabelecendo Sprints semanais a serem cumpridas, facilitando a comunicação entre a equipe, atuando como
            membro durante o desenvolvimento.
        </td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td>Jhonatan Domingos da Silva</td>
        <td>Dev Git</td>
        <td>Responsável pelo versionamento do projeto, workflow, para que não houvesse conflitos quando da inclusão dos
            ítens que foram desenvolvidos durante as Sprints, incrementando todos os progressos desenvolvidos ao longo
            do projeto, atuando como membro importante na execução.
        </td>
    </tr>
    <tr>
        <th scope="row">3</th>
        <td>Carlos Alberto Rodrigues Gomes Filho</td>
        <td>Dev 1</td>
        <td>Responsável pelo desenvolvimento do Front-End, realizou a ponte entre a programação e o design do site,
            colocando para funcionar a parte visual com a linguagem Python, sendo parte fundamental na conclusão do projeto.
        </td>
    </tr>
    <tr>
        <th scope="row">4</th>
        <td>Hallan Pedrosa Ferreira</td>
        <td>Dev 2</td>
        <td>Responsável pelo Back-End, atuou na programação do código Python e do Banco de Dados, incrementando as funções
            necessárias ao funcionamento do projeto, garantindo a otimização da estrutura e eficiência do sistema.
        </td>
    </tr>

    </tbody>
</table>

{% endblock %}