{% extends "modelo.html" %}
{% block conteudo %}

<div class="container-lg mt-4">
    <h1 class="mb-4">Tarefas</h1>

  <div class="container-sm mb-4">
    <table class="table table-sm table-striped table-responsive table-bordered">
        <thead class="thead-default">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Tarefa</th>
            <th scope="col">Descrição</th>
            <th scope="col">Ação</th>
        </tr>
        </thead>
        <tbody>
        {% for lista in tarefas %}
        <tr>
            <th scope="row">{{ loop.index }}</th>
            <td>{{ lista[0] }}</td>
            <td>{{ lista[1] }}</td>
            <td>
                <form class="d-flex justify-content-center" method="post" action="{{ url_for('excluir_tarefa', tarefa_id=loop.index-1) }}">
                    <button type="submit" class="btn btn-danger">Excluir</button>
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>


</div>


{% endblock %}